@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple" class="display-4"><strong>Ahlatcı Kuyumculuk Web</strong></h1>
    <br />
    <br />
    <p><img src="/img/logo.jpg" /></p>
</div>
