@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
<br /> <br />
<h1 style="color:purple">@ViewData["Title"]</h1>

<br />
<br />
<h3>
    Adres: Gülabibey Mh. Eğridere Cd. No:17 Merkez/Çorum <br />
    Çalışma Saatleri: 08:00 - 19:00 <br />
    Telefon: 444 0 186
</h3>
<br />
<br />
<h2>E-Posta Adresimiz:</h2> <br />
    <h3><a href="mailto:kurumsal@ahlatci.com.tr">kurumsal@ahlatci.com.tr</a></h3>
</div>
